body 
    #example3 {
        border: 10px dashed black;
        padding: 25px;
        background: url(1.gif);
        background-repeat: no-repeat;
        background-origin: content-box
  }
  
  .container {
    display: flex;
    gap: 50px;
  }
  
  #posts {
    width: 400px;
  }
  
  i {
    cursor: pointer;
  }
  #posts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .options {
    display: flex;
    gap: 25px;
  }
  
  #msg {
    color: red;
  }
